<%- include ../header %>

<h1><%- title %></h1>

<form method="post">
    <div class="form-group">
        <textarea class="form-control" name="content" placeholder="请输入签到内容"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">签到</button>
</form>

<%- include ../footer %>
