<%- include header %>
	<h1><%- title %></h1>
    <h3>欢迎</h3>
    <h5><%- time %></h5>

    <div ng-view></div>

    <div>
        <a href="/user/logout">退出</a>
    </div>

    <div>
        <a href="/user/profile">个人资料</a>
    </div>

    <div>
        <a href="#/post">签到</a>
    </div>

<%- include footer %>
