html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
}

a {
    color: #00B7FF;
}

/* Zao Qi La Style */

/* Bottom Module Style */
.module-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #4b97d8;
}

.main-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #fff;
}

.main-view {
    padding: 20px;
}

/* Header Style */
#header {
    background-color: #4b97d8;
    height: 40px;
    padding: 5px 20px;
    width: 100%;
}

.icon-left-menu {
    color: #fff;
    font-size: 28px;
}

.input-field {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 10px 20px;
}

.input-field input {
    width: 100%;
    background-color: transparent;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-top: 1px solid #b6b6b6;
    margin: 10px 0;
}

.button-wrap {
    width: 100%;
    padding: 0 25px;
    margin-top: 20px;
}

.module-bottom button {
    background-color: #4b97d8;
    border-radius: 8px;
    border: 2px solid #fff;
    color: #fff;
}

.module-bottom h3 {
    margin-top: 0;
    text-align: center;
    color: #fff;
    font-weight: normal;
}

.module-wrap {
    height: 100%;
}

.module-inner {
    width: 100%;
}

.module-login {
    left: 0;
    top: 0;
}

/* ======== Left Menu Style ======== */
.left-menu {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: url("../images/bg-left-menu.jpg") no-repeat left top;
    background-size: cover;
    z-index: 1;
}

.left-menu h1 {
    color: #fff;
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    padding: 10px 20px;
}

.left-menu ul,
.left-menu li {
    margin: 0;
    padding: 0;
}

.left-menu li {
    list-style: none;
    padding: 20px 20px 5px;
    border-bottom: 1px solid #fff;
}

.left-menu a,
.left-menu a:hover,
.left-menu a:focus,
.left-menu a:visited,
.left-menu a:active {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.left-menu li.current a {
    color: #4b97d8;
}

.left-menu li a span {
    margin-right: 10px;
}

.left-menu .logout {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #fff;
}

.left-menu .logout span {
    margin-right: 10px;
}

/* ====== Module user style ====== */

/* ====== CSS3 Animation ====== */
.transition-push {
    transition: transform 0.1s ease-out 0.1s;
    -webkit-transition: -webkit-transform 0.1s ease-out 0.1s;
    -moz-transition: -moz-transform 0.1s ease-out 0.1s;
}

.animation-push-right {
    transform: translateX(50%);
}