<%- include ../header %>

<h1><%- title %></h1>

<form>
    <input name="goaltime" placeholder="请输入目标起床时间" value="<%- user.goalTime %>" />
    <button class="btn btn-primary">保存</button>
</form>

<%- include ../footer %>