<div class="module-wrap module-user">

	<!-- Login Start -->
	<div class="module-inner module-login">
		<h3>登录</h3>
		<div class="input-field">
			<input ng-model="mail" class="" type="text" name="mail" placeholder="请输入邮箱" />

			<div class="line"></div>

			<input ng-model="password" class="" type="password" name="password" placeholder="请输入密码" />
		</div>

		<div class="button-wrap">
			<button ng-click="login()" class="btn btn-primary btn-block">登录</button>
		</div>
	</div>
	<!-- Login End -->

</div>
